.rodape{
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.rodape h2{
    flex-grow: 2;
    flex-basis: 100px;
    text-align: center;
}

.rodape nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape nav a{
    flex-grow: 1;
}

.rodape nav a:hover{
    background-color: rgba(185, 179, 179, 0.664);
}


.rodape nav img{
    max-width: 20%;
    display: block;
    margin: 0 auto;
}